
.orderList {
 
 display: block;
 margin: auto;
 max-width: 300px;
 border-radius: 7%;
 background-color: aqua;
 font-family: serif;
 line-height: 40px;
}

.orderPosition {
  font-family: arial;
  color: red;
  text-decoration: underline;
  
}

.title {
  display: block;
  margin: auto;
  color: blue;
  max-width: 350px;
}